@layer css-reset, tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}
@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

body, html {
    font-family: 'Inter', serif;
    font-size: 1rem;
    text-align: left;
    direction: ltr;
    overflow: hidden;
    color: black;
    scroll-behavior: smooth;
}
html {
    overflow-y: scroll;
}
body {
    overflow-y: hidden;
    background: #fff;
}

.transition {
    @apply transition-all ease-in-out duration-200;
}
.p-component {
    border-radius: 0.75rem !important;
}
.p-select-option {
    border-radius: 0.75rem !important;
}
