@layer css-reset, tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}
@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

body, html {
    font-family: map-get($font-family, 'Inter');
    font-size: 1rem;
    text-align: right;
    direction: rtl;
    overflow: hidden;
    color: black;
    scroll-behavior: smooth;
}
html {
    overflow-y: scroll;
}
body {
    overflow-y: hidden;
    background: $body-color;
}

// Fonts
.font-inter {
    font-family: map-get($font-family, 'Inter') !important;
}

// Headings
h1 {
    font-size: 2rem;
    font-weight: bold;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
h3 {
    font-size: 1.17rem;
    font-weight: bold;
}
h4 {
    font-size: 1rem;
    font-weight: bold;
}
h5 {
    font-size: 0.83rem;
    font-weight: bold;
}
h6 {
    font-size: 0.67rem;
    font-weight: bold;
}
