@mixin transition($styles: all, $time: 0.2s) {
    transition: $styles ease $time;
}
@mixin hiddenText ($max-width: 100%) {
    max-width: $max-width;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
