$font-family: (
    'Inter': 'Inter'
);

// Colors
$body-color: #F8F9FD;

$primary-colors: (
    100: #e6faf7,
    200: #d9f8f3,
    300: #b0f1e7,
    400: #00d1b2,
    500: #00bca0,
    600: #00a78e,
    700: #009d86,
    800: #007d6b,
    900: #005e50,
    1000: #00493e,
);
$secondary-colors: (
    100: #ebf3ff,
    200: #e0edff,
    300: #c0d9ff,
    400: #3385ff,
    500: #2e78e6,
    600: #296acc,
    700: #2664bf,
    800: #1f5099,
    900: #173c73,
    1000: #122f59,
);

$dark-color: #252525;
$red-color: #DE0000;
$green-color: #3AB54A;
